version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      # Parcel deps must be bumped in sync, which Dependabot isn't good at
      - dependency-name: "@parcel/*"
